$c-primary: #F4F4F4;
$c-text-color: #FFF;
$c-white: #FFF;
$c-red: #FF4848;
$c-gray: #CECECE;
$c-green: #35F60F;
$green-gradient: linear-gradient(180deg, #35F60F 0%, #1FA604 100%);



$mobile-padding-inline: 25px;

$tablet-min-width: 540px;
$tablet-padding-inline: 94px;

$desktop-min-width: 1200px;
$desktop-padding-inline: 356px;

$f-mont: Montserrat, sans-serif;
$f-inter: Inter, sans-serif;