$c-primary: #F4F4F4;
$c-text-color: #FFF;
$c-text-secondary: #A93F48;
$c-text-primary: #44000C;
$c-nat-black: #150005;
$c-white: #FFF;
$c-red: #FF4848;
$c-red-icon: #FF2D2D;
$c-nav: #CC494A;
$c-gray: #CECECE;
$c-gray-dark: #736467;
$c-green: #35F60F;
$c-ingredients-title: #CC494A;
$green-gradient: linear-gradient(180deg, #35F60F 0%, #1FA604 100%);



$mobile-padding-inline: 25px;

$tablet-min-width: 540px;
$tablet-padding-inline: 94px;

$desktop-min-width: 1200px;
$desktop-padding-inline: 176px;

$f-mont: Montserrat, sans-serif;
$f-inter: Inter, sans-serif;