.ingredients {
  width: 100%;
  
  padding: 48px 0;
  background-color: $c-white; 

   @include on-desktop {
    padding-inline: 20px;
    }

    @include large-desktop {
     @include content-padding-inline;
    }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
    
  }

  &__header {
    text-align: center;
    margin-bottom: 40px;
  }

  &__tag {
    font-family: $f-mont;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 8%;
    text-align: center;
    text-transform: uppercase;
    color: $c-text-secondary;
    display: block;
    margin-bottom: 12px;
  }

  &__title {
    font-family: $f-mont;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: $c-text-primary;
    @include on-desktop {
      font-size: 36px;
    }

    &-span {
      font-family: $f-mont;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      display: block;
      color: $c-text-secondary; 
       @include on-desktop {
      font-size: 36px;
    }
    }
  }

  
  &__grid {
    display: flex;
    flex-direction: column;
    gap: 48px; 
    width: 100%;
    align-items: center;
    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: clamp(22px, 2vw, 32px); 
  
      row-gap: clamp(78px, 6vw, 98px);
    }

    @include large-desktop {
      column-gap: 32px;
      row-gap: 98px;
    }
  }

 
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

   
    &-icon-wrapper {
      position: relative;
      z-index: 2;
      width: 104px;
      height: 104px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $c-white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    &::before {
  content: '';
    position: absolute;
    inset: -2.31px; 
    border-radius: 50%;
    padding: 2.31px; 
    background: 
      linear-gradient($c-white, $c-white) padding-box, 
      linear-gradient(180deg, #FF2D2D 0%, $c-white 100%) border-box;   
    border: 2.31px solid transparent;
    z-index: -1;
    pointer-events: none;
  }
      
    
    }

    &-icon {
      width: 104px;
      height: 89px;
      object-fit: contain;
      border-radius: 50%;
      position: relative;
      z-index: 2;






    }

    &-content {
      position: relative;
      z-index: 1;
      width: 351px;
      height: 305px;
      margin-top: -50px; 
      padding: 80px 40px 40px; 
      
      background-color: #F4F4F4;
      border-bottom: 2px solid #FF1F1F; 
      border-radius: 20px;
      text-align: center;
      overflow: hidden;

      @include on-desktop {
        width: 385px;
        height: 315px;
        
      }

      &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    
    width: 231px;
    height: 60px;
    
    background-image: url('/images/vector1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    
    z-index: 1; 
    pointer-events: none;
  }
    }

    &-title {
      font-family: $f-mont;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 0%;
      margin-bottom: 12px;
      color: $c-ingredients-title;
    }

    &-text {
      font-family: $f-mont;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0%;
      color: $c-gray-dark;
     
    }
  }
  &__button {
    width: 396px;
   

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
       @include on-desktop {
      grid-column: 2;
      
    }
    }
  }
}