@import './utils/variables';
@import './utils/mixins';
@import './top-bar';
@import './hero';
@import './about';
@import './utils/utilities';
@import './ingredients';
@import './why';
@import './testimonials';
@import './freeshp';
@import './buy';
@import './faq';
@import './footer';
@import './nav';


*, 
*::after, 
*::before  {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  
}

a {
  text-decoration: none;
}

body {
  height: 100dvh;

}