 .nav {
  &__list {
  display: none;

    list-style: none;
     @include on-desktop {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  }

  &__link {
    text-decoration: none;
    font-family: $f-mont;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: $c-white;

    transition: color 0.2s ease;

    &:hover {
      color: #8c2a36;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
 }